@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@300;400;500;700&family=Montserrat:wght@500;700&family=PT+Sans&family=Quicksand:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk,sans-serif;
}
.page{
    display: flex;
    border-radius: 1rem;
    box-shadow: 1px 1px 11px 1px black;
    margin: 50px auto;
    max-width: 600px;
}
.top-box{
    height: 350px;
    flex: 1 1 50%;
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius:1em ;
    position: relative;
}
.top-box>:first-child{
    opacity: .8;

}
.top-box>.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width:150px;
    height: 150px;
    border-radius: 50%;
}
.top-box>.result>h1{font-size: 3rem;}
.top-box>.result>div{
    opacity: .6;
}
.top-box>p{
    text-align: center;
    width: 70%;
    opacity: .9;
    font-weight: 300;
    font-size: smaller;
}

h3{
    margin: 10px;
}
.bottom{    
    height: 350px;
    flex: 1 1 50%;
    position: relative;
}
.results{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
}
.results>:nth-child(1){
    background: hsla(0, 100%, 67%,10%);
    color:hsla(0, 100%, 67%)
}
.results>:nth-child(2){
    background: hsla(39, 100%, 56%,10%);
    color:hsla(39, 100%, 56%)
}
.results>:nth-child(3){
    background: hsla(166, 100%, 37%,10%);
    color:hsla(166, 100%, 37%)
}
.results>:nth-child(4){
    background: hsla(234, 85%, 45%,10%);
    color:hsla(234, 85%, 45%)
}
.category{
    display: flex;
    position: relative;
    align-items: center;
    height: 2.7em;
    width: 80%;
    border-radius: 0.4em;
    padding-left: 5px;
}
.title{
    padding-left: 10px;
}

span{
    opacity: .5;
}

.num{
    color:black;
    position: absolute;
    right: 5px;
    font-weight: bold;
}



button{
    width: 80%;
    height: 10%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background:hsl(224, 30%, 27%);
    color: white;
}
button:hover{
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}



@media (max-width:400px){
    .page{
        flex-direction: column;
        height: 100vh;
        margin-top: -10px;
    }
    button{
        height:3em;
        font-size: 1.2em;

    }
    .category{
        height: 3em;
    }
    
}
.attribution{
    text-align: center;
}
